.page-fill{}



.header{
	/* #ifdef MP */
	padding: 0 30upx 40upx 30upx;
	/* #endif */
	/* #ifndef MP */
	padding: 120upx 30upx 40upx 30upx;
	/* #endif */
	background-color: #ffd655;
	
	display: flex;
	flex-direction:row ;
	justify-content: flex-start;
	
}

.face{
	width: 120upx;
	height: 120upx;
	border-radius: 50%;
	flex-shrink: 0;
}
.info-wapper{
	 width: 80%;
	 margin-left: 40upx;
	 display: flex;
	 flex-direction: column;
}
.nickname{ color:#6a5018 ;
font-size: 18px;
font-weight: 700;}

.regist-login{
	margin-left: 60upx;
	margin-top: 30upx;
}
.nav-info{ color:#a38e62 ;
font-size: 14px;
margin-top: 10upx;}

.set-wapper{
	display: flex;
	flex-direction:row ;
	justify-content: flex-end;
	width: 15%;
}
.settings{
	width: 40upx;
	height: 40upx;

}