.search-ico {
	width: 40upx;
	height: 40upx;
}

.search-text {
	font-size: 14px;
	background-color: #eaeaea;
	height: 60upx;
	width: 650upx;
}

.search-block {
	display: flex;
	flex-direction: row;
	padding: 0 20upx 20upx 20upx;
	/* 固定 */
	position: fixed;
	z-index: 1000;
	background-color: #f8f8f8;
	top:100;
	width: 100%;
}

.search-ico-wapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10upx;
	background-color: #eaeaea;
}
.poster {
	width: 200upx;
	height: 270upx;
}
.movie-list{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 100upx 10upx 0 10upx;
}
.movie-wapper{ padding: 10upx 20upx;}